:root{
    font-family:'Bangers';
    font-size: 1rem;


}

body{
    margin: 0;
    padding: 0;
    color:white;
    background-color:black;
    

}

body::-webkit-scrollbar{
    width:0.25rem;


}
body::-webkit-scrollbar-track{
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-color:#fd1f4c ;
}

main{
  margin-left: 5.5rem; 
}

.mainmenu{
    background-color:white;
    height: 100vh;

    width: 5rem;
  
    position: fixed;
}
.menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .menu-pages{
    width: 100%;
  }
  
  
  .link {
    display: flex;
    align-items: center;
    height: 5rem;
    
    text-decoration: none;
   
  }
  
  .link:hover {
    filter: grayscale(0%) opacity(1);
    background:gray;
    color:pink;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }


