*{
margin:0rem;
padding: 0rem;
box-sizing: border-box;

}
body{
    background-color: black;
}
.main-menu{
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Bangers', cursive;

}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    text-decoration: none;
    width: 50%;
}
.links li{
    list-style: none;
}

.links a{
    color: #e72848f3;
    letter-spacing: 0.3rem;
    text-decoration: none;

}

.web-name{
    font-size: 1.25rem;
    color: #ff4161f3;
}

.mobile-menu{
    cursor: pointer;
    display: none;

}

.mobile-menu div{
    background-color: #ff4161f3; 
    margin:0.3rem;
   width: 1.5rem;

   height:0.19rem ;

}
  
  
  @media screen and (max-width: 1024px) {
   .links{
       width: 70%;
   }
  }
  @media screen and (max-width: 768px) {


      .links{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;     
        position: absolute;
        right: 0rem;
        bottom:5px;
        height: 90vh;
        transition: transform 0.6s ease-in;
       transform: translateX(100%);
        background-color: #991f34f3;
}
   .links li{
       opacity: 0;
   }

   .mobile-menu{
       display: block;
   }
}
.nav-active{
   
    transform: translateX(0%);
}

@keyframes linksFade{
    from{
        opacity: 0;
        transform: translate (50px);
    }to{
        opacity: 1;
        transform: translate (0px);
    }
}

