:root{
    font-family:'Bangers';
    font-size: 1rem;


}

body{
    margin: 0;
    padding: 0;
    color:white;
    background-color:black;
    

}

body::-webkit-scrollbar{
    width:0.25rem;


}
body::-webkit-scrollbar-track{
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-color:#fd1f4c ;
}

main{
  margin-left: 5.5rem; 
}

.mainmenu{
    background-color:white;
    height: 100vh;

    width: 5rem;
  
    position: fixed;
}