*{
margin:0px;
padding: 0px;
box-sizing: border-box;

}

.mainmenu{
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Bangers', cursive;

}